@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
  border-top: 4px solid #d4a361;
}

:root {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar {
  margin-top: 25px;
  margin-left: 35px;
  margin-right: 35px;
}

.menu-items {
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 80px;
  margin-top: 7px;
}

.menu a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.menu a:hover {
  font-weight: 500;
  border-bottom: 3px solid #d4a361;
}
.menu .fa-xmark {
  display: none;
}
.sidebar-line {
  display: none;
}
.sidebar-icon {
  display: none;
}
.nav-icon {
  display: flex;
  gap: 40px;
  margin-top: 9px;
  cursor: pointer;
}
.nav-icon a {
  text-decoration: none;
  color: black;
}
.side-bar {
  display: none;
}

/* Hero */
.hero {
  margin-top: 30px;
  margin-left: 10rem;
  margin-right: 10rem;
}

.hero h1 {
  text-align: center;
  font-weight: 490;
  font-size: 25px;
  margin-bottom: 20px;
}

.hero-text {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 38px;
}

.hero-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: 350px;
}

.img-desc img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.img-desc img:hover {
  transform: scale(1.1);
}

.img-text {
  font-size: 18px;
  font-weight: 400;
  margin-left: 37%;
  margin-top: 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.img-text::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d4a361;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.img-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Product */
.product {
  margin-top: 90px;
  margin-left: 50px;
  margin-right: 50px;
}

.filter {
  display: flex;
  gap: 30px;
}

.filter p {
  font-size: 14px;
  font-weight: 300;
}

.select-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: 450;
}

.select-menu .select {
  display: flex;
  gap: 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.select i {
  margin-top: 2.5px;
  margin-left: 5px;
}

.select::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d4a361;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.select:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.options {
  width: 100%;
  align-items: center;
  position: absolute;
  list-style: none;
  padding: 1.5em 1em 1.5em;
  gap: 20px;
  display: none;
  flex-direction: column;
  background: white;
  top: 41.7rem;
  z-index: 15;
  cursor: pointer;
}

.options.active {
  display: flex;
}

.all-product {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: 500px;
}

.all-product img {
  position: relative;
  width: 100%;
  height: 80%;
  cursor: pointer;
}

/* new */

.new1,
.new2,
.new3 {
  position: absolute;
  z-index: 10;
  border: 1px solid rgb(195, 195, 195);
  padding: 3px 7px;
  background: rgb(250, 250, 250);
  font-size: 13px;
  font-weight: 500;
}

.new1 {
  top: 97%;
  left: 51.3%;
}

.new2 {
  top: 302.8%;
  left: 27.9%;
}

.new3 {
  top: 165.8%;
  left: 75%;
}

.product-desc {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.product-desc p {
  font-size: 17px;
  font-weight: 400;
}

.product-img .hover-btn {
  margin-top: 10px;
  display: none;
  background: black;
  color: white;
  border: none;
  font-size: 15px;
  padding: 13px 84px 13px;
  cursor: pointer;
}

.hover-btn:hover {
  background: #d4a361;
  color: black;
  border: none;
}

.product-img:hover {
  border: 1.5px solid;
  padding: 30px 30px 90px;
  height: 500px;
}

.product-img:hover .new1,
.product-img:hover .new2,
.product-img:hover .new3 {
  display: none;
}

.product-img:hover .hover-btn {
  display: inline-block;
}

.top {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.top a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.top a::after {
  content: '';
  position: absolute;
  width: 126%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d4a361;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.top a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.top a i {
  margin-top: 2.5px;
}

/* Gift */
.gift {
  margin-top: 4.5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

.gift-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 38px;
}

.gift-text h1 {
  font-weight: 490;
  font-size: 25px;
}

.gift-text p {
  font-size: 14px;
  font-weight: 300;
}

.gift-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gift-desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gift-desc img {
  width: 100%;
  height: 70%;
  cursor: pointer;
}

.gift-desc p {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.gift-desc a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 16px;
  margin-left: 8px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.gift-desc a::after {
  content: '';
  position: absolute;
  width: 37%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 5.4rem;
  background-color: #d4a361;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.gift-desc a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.gift-desc a i {
  margin-left: 5px;
}

.border {
  border-top: 8px solid #d4a361;
}

/* promotion */
.promotion {
  display: flex;
  margin: 2.5rem 0 80px 20px;
  gap: 50px;
}

.video-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  gap: 20px;
}

.video-text h1 {
  font-weight: 490;
  font-size: 25px;
}

.video-text p {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
}

/* footer */
.footer {
  margin: 1.5rem 50px 4rem;
}

.footer-col {
  display: flex;
  justify-content: space-between;
}

.services {
  display: flex;
  gap: 5rem;
}

.client-care,
.company,
.sites {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.client-care a,
.company a,
.sites a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 350;
}

.client-care a:hover,
.company a:hover,
.sites a:hover {
  font-weight: 500;
}

.services h4 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.media {
  display: flex;
  flex-direction: column;
}

.media h4 {
  font-weight: 500;
  font-size: 14px;
}

.media p {
  line-height: 1.4;
  font-size: 13.5px;
  font-weight: 350;
  margin-top: 35px;
}

.media input {
  margin-top: 35px;
  border: 1.5px solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.media button {
  margin-top: 20px;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
  width: 40%;
  padding: 9px;
  border: 1.5px solid;
  cursor: pointer;
}

.media button:hover {
  background: black;
  color: white;
  border: none;
}

.media-icon a {
  font-size: 25px;
  color: black;
}

.media-icon {
  margin-top: 45px;
  display: flex;
  gap: 55px;
  cursor: pointer;
}

/* media queries */
@media (max-width: 1200px) {
  .hero-img {
    grid-auto-rows: 280px;
  }
  .all-product {
    grid-auto-rows: 450px;
  }
  .options {
    width: 87%;
    top: 38rem;
  }
  .all-product img {
    height: 75%;
  }
  .product-img:hover {
    border: 1.5px solid;
    padding: 30px 30px 40px;
    height: 440px;
  }
  .new1 {
    top: 40.6%;
    left: 51.5%;
  }

  .new2 {
    top: 123.6%;
    left: 28.2%;
  }

  .new3 {
    top: 68.5%;
    left: 75%;
  }
  .product-img .hover-btn {
    font-size: 6.6px;
    padding: 10px 77px 10px;
    cursor: pointer;
  }
  .top {
    margin-top: 25px;
  }
  video {
    width: 770px;
  }
}

@media (max-width: 992px) {
  .menu {
    margin-top: 5px;
    gap: 45px;
  }
  .menu a {
    font-size: 16px;
  }
  .nav-icon i {
    font-size: 13px;
  }
  .nav-icon {
    gap: 25px;
  }
  .hero {
    margin-top: 25px;
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .hero h1 {
    font-size: 22px;
  }

  .hero-text {
    font-size: 13px;
    margin-bottom: 35px;
  }
  .hero-img {
    grid-auto-rows: 190px;
  }
  .img-text {
    font-size: 14px;
    margin-left: 34%;
  }
  .options {
    width: 82%;
    top: 32rem;
  }
  .all-product {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 460px;
  }
  .all-product img {
    height: 75%;
  }

  .product-img .hover-btn {
    font-size: 13px;
    padding: 13px 60px 13px;
  }

  .product-img:hover {
    padding: 30px 30px 68px;
    height: 450px;
  }
  .product-desc p {
    font-size: 16px;
  }
  .new1 {
    top: 75%;
    left: 67.4%;
  }

  .new2 {
    top: 328%;
    left: 37%;
  }

  .new3 {
    top: 201.6%;
    left: 37.5%;
  }

  .top {
    margin-top: 5px;
  }

  .gift {
    margin-top: 3.5rem;
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .gift-text h1 {
    font-size: 22px;
  }

  .gift-text p {
    font-size: 13px;
  }
  .gift-desc p,
  a {
    font-size: 16px;
  }

  .video-text {
    margin-top: 9rem;
  }

  video {
    margin-top: 40px;
    width: 560px;
  }
  .video-text h1 {
    font-size: 22px;
  }

  .video-text p {
    font-size: 13px;
  }
  .services {
    gap: 2.5rem;
  }
  .client-care a,
  .company a,
  .sites a {
    font-size: 12px;
  }

  .services h4 {
    font-size: 13.5px;
  }

  .media h4 {
    font-size: 13.5px;
  }

  .media p {
    font-size: 12px;
  }

  .media button {
    margin-top: 15px;
    font-size: 12px;
    width: 30%;
    padding: 6px;
  }

  .media-icon a {
    font-size: 20px;
  }

  .media-icon {
    margin-top: 47px;
    gap: 48px;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .nav-icon {
    display: none;
  }
  .menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }
  .sidebar-line {
    display: block;
    border: 1px solid #d4a361;
  }
  .sidebar-icon {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .side-bar {
    margin-top: 3px;
    display: inline-block;
    cursor: pointer;
  }

  .menu a {
    margin-left: 30px;
    width: 100%;
  }
  .menu .close:hover {
    border-bottom: none;
  }
  .menu.active {
    display: flex;
  }
  .menu .fa-xmark {
    cursor: pointer;
    margin-top: 20px;
    text-align: right;
    margin-right: 45px;
    display: block;
    font-size: 20px;
  }
  .side-bar i {
    font-size: 22px;
  }
  .hero {
    margin-top: 25px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .hero-text {
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .hero-img {
    gap: 10px;
    grid-auto-rows: 180px;
  }
  .product {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .options {
    width: 12%;
    top: 30.5rem;
  }
  .filter {
    justify-content: space-between;
  }
  .filter p,
  .select-menu {
    font-size: 13px;
  }

  .all-product {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    grid-auto-rows: 400px;
  }

  .all-product img {
    height: 85%;
  }
  .new1,
  .new2,
  .new3 {
    padding: 2px 5px;
    font-size: 11px;
  }
  .new1 {
    top: 128.5%;
    left: 8.5%;
  }

  .new2 {
    top: 407.5%;
    left: 52.8%;
  }

  .new3 {
    top: 240%;
    left: 53%;
  }
  .product-img {
    border: 1.5px solid;
    padding: 25px 35px 95px;
    height: 400px;
  }
  .product-img .hover-btn {
    margin-top: 8px;
    display: inline-block;
  }
  .product-desc p {
    font-size: 15px;
  }
  .product-img:hover {
    border: 1.5px solid;
    padding: 25px 35px 95px;
    height: 400px;
  }
  .product-img:hover .new1,
  .product-img:hover .new2,
  .product-img:hover .new3 {
    display: inline-block;
  }

  .product-img:hover .hover-btn {
    display: inline-block;
  }
  .top {
    margin-top: 28px;
  }
  .gift {
    margin-top: 3.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .gift-img {
    gap: 10px;
  }

  .gift-desc img {
    height: 65%;
  }
  .gift-desc p {
    font-size: 14px;
  }

  .gift-desc a {
    font-size: 14px;
  }

  .promotion {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .video-text {
    margin-top: 10px;
    gap: 15px;
  }
  video {
    width: 710px;
  }

  .footer-col {
    display: flex;
    flex-direction: column;
  }

  .services {
    display: flex;
    gap: 9.5rem;
  }

  .media {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .media-text {
    display: none;
  }

  .media input,
  button {
    display: none;
  }

  .media-icon a {
    font-size: 22px;
  }

  .media-icon {
    margin-top: 0;
    display: flex;
    gap: 110px;
  }
}

@media (max-width: 576px) {
  .navbar {
    margin-left: 20px;
    margin-right: 22px;
  }
  .menu a {
    font-size: 14px;
  }
  .side-bar {
    margin-top: 3.8px;
  }
  .side-bar i {
    font-size: 18px;
  }
  .hero {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .hero h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .hero-text {
    font-size: 10px;
    line-height: 1.6;
    margin-bottom: 18px;
  }
  .hero-img {
    gap: 12px;
    grid-auto-rows: 120px;
  }
  .img-text {
    font-size: 12px;
    margin-left: 32%;
    margin-top: 10px;
  }
  .product {
    margin-top: 70px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .options {
    width: 15%;
    top: 23.5rem;
  }
  .filter p,
  .select-menu {
    font-size: 11px;
  }
  .select-menu {
    margin-right: 2px;
  }

  .all-product {
    gap: 10px;
    grid-auto-rows: 300px;
  }

  .all-product img {
    height: 65%;
  }
  .product-desc p {
    font-size: 12px;
  }
  .new1 {
    top: 99.5%;
    left: 5.5%;
  }

  .new2 {
    top: 308%;
    left: 52.8%;
  }

  .new3 {
    top: 183%;
    left: 53%;
  }
  .product-img {
    border: 1.5px solid;
    padding: 20px 22px 45px;
    height: 300px;
  }
  .product-img:hover {
    padding: 20px 22px 45px;
    height: 300px;
  }
  .product-img .hover-btn {
    margin-top: 8px;
    font-size: 10px;
    padding: 9px 38px 9px;
  }
  .top a {
    font-size: 12px;
  }
  .top a I {
    font-size: 12px;
  }
  .top {
    margin-top: 28px;
  }

  .gift {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .gift-text h1 {
    font-size: 20px;
  }

  .gift-text p {
    font-size: 11px;
    line-height: 1.5;
    text-align: center;
  }

  .gift-desc img {
    height: 55%;
  }

  .gift-desc p {
    font-size: 12px;
  }
  .gift-desc a {
    font-size: 11.5px;
  }
  .footer {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .video-text h1 {
    font-size: 20px;
  }

  .video-text p {
    font-size: 11px;
  }
  video {
    width: 445px;
  }
  .services {
    gap: 4.9rem;
  }
  .client-care a,
  .company a,
  .sites a {
    font-size: 10px;
  }

  .services h4 {
    font-size: 11px;
  }

  .media-icon a {
    font-size: 18px;
  }

  .media-icon {
    gap: 65px;
  }
}

@media (max-width: 400px) {
  .side-bar {
    margin-top: 8.9px;
  }
  .hero-text {
    font-size: 8px;
  }
  .hero-img {
    gap: 10px;
    grid-auto-rows: 110px;
  }
  .img-text {
    font-size: 12px;
    margin-left: 27%;
  }
  .product {
    margin-top: 65px;
  }
  .options {
    width: 18%;
    top: 22.2rem;
  }
  .all-product {
    grid-auto-rows: 280px;
  }
  .new1 {
    top: 108%;
    left: 7%;
  }

  .new2 {
    top: 330%;
    left: 55%;
  }

  .new3 {
    top: 197%;
    left: 54.5%;
  }
  .product-desc {
    margin-top: 12px;
  }

  .product-desc p {
    font-size: 11px;
  }

  .product-img .hover-btn {
    margin-top: 3px;
    font-size: 9px;
    padding: 8px 35px 8px;
  }

  .product-img:hover {
    padding: 9px 8px 60px;
    height: 280px;
  }
  .gift-desc img {
    height: 50%;
  }

  .gift-desc p {
    font-size: 11px;
  }
  .gift-desc a {
    font-size: 10px;
  }
  video {
    width: 375px;
  }
  .services {
    gap: 2.2rem;
  }
  .media-icon {
    gap: 38px;
  }
}
